//- FONDOS
.home-graficos
	height: 100vh
	width: 600vw
	position: absolute
	top: 0
	left: 0
	z-index: -1
	//- CIELO NUVEs Y CIUDAD
	.cielo
		position: relative
		height: $ancho-cielo
		z-index: -1
		background: #8DCEFD
		// @include linear-gradient(to bottom, #8DCEFD, lighten(#8DCEFD,5))
		//- NUVES
		&-nuves1,
		&-nuves2,
		&-ciudad
			position: absolute
			width: 360vw
			height: $ancho-nuves
			top: 5vh
			background:
				color: transparent
				image: url(../img/cielo-nuves1.png)
				repeat: repeat-x
				size: 100vh
				position: 0 50%
		&-nuves2
			top: 20vh
			background-image: url(../img/cielo-nuves2.png)
		//- CIUDAD
		&-ciudad
			width: 350vw
			height: $ancho-ciudad
			background:
				image: url(../img/cielo-ciudad.png)
				position: 0 100%
	//- PARQUE
	.parque
		position: relative
		height: $ancho-parque
		width: 600vw
		background: #7AA52A

		//- PASTO y VEREDA
		&-pasto,
		&-vereda
			position: relative
			z-index: 1
			background:
				color: transparent
				repeat: repeat-x
		//- PASTO FONDO 
		&-pasto
			width: 550vw
			height: $ancho-pasto
			//- PASTO ARBOLES
			&-arboles,
			&-frente,
			&-medio
				position: absolute
				top: -32px
				left: 0
				width: 385vw
				height: $ancho-pasto
				background:
					color: transparent
					repeat: repeat-x
					size: 100vh auto 
			//- PASTO ARBOLES
			&-arboles
				height: $ancho-arboles
				z-index: 1
				background-image: url(../img/parque-fondo.png)
			//- PASTO MEDIO
			&-frente
				top: 1vh
				width: 520vw
				z-index: 2
				background-image: url(../img/parque-pastoFrente.png)
			//- PASTO FRENTE
			&-medio
				top: 8vh
				left: -13vw
				width: 586vw
				z-index: 3
				background-image: url(../img/parque-pastoMedio.png)
		//- VEREDA
		&-vereda
			width: 100%
			height: $ancho-vereda
			@include background-image (url(../img/parque-cordon.png),linear-gradient(to bottom, #B3CD4C 5%,#666 5%, #555))
			background-size: 2vh ,100%


// GREFICOS
.graficos
  position: absolute
  bottom: 0
  height: $ancho-parque
  width: 100vw

  .parque
    position: relative
    height: $ancho-parque

    //- PASTO VEREDA
    &-pasto,
    &-vereda
      position: relative
      width: 100%
      top: 0

    //- PASTO
    &-pasto
      height: $ancho-pasto
      z-index: -1
      // @include background-image (linear-gradient(to left, rgba(125,251,35,0.6), rgba(125,20,35,0.6)))
    
    //- VEREDA
    &-vereda
      height: $ancho-vereda
      // @include background-image (linear-gradient(to left, rgba(125,20,35,0.6), rgba(125,251,35,0.6)))

    //- ELEMENTOS
    
    .arbol,
    .banco,
    .candelabro,
    .familia,
    .nene,
    .perrito,
    .plato,
    .voluntario
      background: 
        color: transparent 
        position: 0 0 
        repeat: no-repeat
        size: 100%
      transform: translate(0,0)
      transition: all 0.3s
      opacity: 1

    .arbol
      width: 15em
      height: 20em
      background:
        color: transparent
        image: url(../img/parque-arbol.png) 
      z-index: 0

    .banco
      width: 23em
      height: 11.88em
      background-image: url(../img/parque-banco.png) 
      background-size: 100%

    .candelabro
      width: 5em
      height: 25em
      background-image: url(../img/parque-candelabro.png) 

    .familia
      width: 14em
      height: 25em
      background-image: url(../img/familia.png) 

    .nene
      width: 10em
      height: 15em
      background-image: url(../img/nene.png) 

    .perrito
      width: 7.5em
      height: 5.62em
      background:
        image: url(../img/perrito.png) 
        position: 100% 100% 
        size: 200%

    .plato
      width: 5em
      height: 3em
      background-image: url(../img/platoDeComida.png) 

    .voluntario
      width: 11.5em
      height: 22.6em
      background:
        image: url(../img/voluntario.png)
        size: 34em 


