extends _layout/default

block title
  title Patitas

block body
  .home-wrap
    
    .home-graficos
      .cielo
        .cielo-nuves1
        .cielo-nuves2
        .cielo-ciudad
      .parque
        .parque-pasto
          .parque-pasto-arboles
          .parque-pasto-medio
          .parque-pasto-frente
        .parque-vereda

    .home-sections
      include _includes/section-Patitas
      include _includes/section-adopciones
      include _includes/section-consejosUtiles
      include _includes/section-eventos
      include _includes/section-colaboraConNosotros
      include _includes/section-contacto

    include _includes/header

//-     TODO Patitas
//- -Cambiar al perrito (hacer menos chancho)
//- -Los <li> en forma de Patitas
//- -Paginas
//-   -Patitas
//-   -Adopciones
//-     -Pdf con un gatitp o perrito
//-   -Consejos Utiles
//-   -Eventos
//-   -Colabora con nosotros
//-   -Contacto
//-     -Casita con el perrito su comida y su agua, con su nombre por la casita
//-     -
