section.inicio
	position: relative
	.logo
		position: absolute
		bottom: 22vh
		left: 50%
		width: 28em
		margin-left: -14em
		z-index: 1
		img 
			width: 100%
	.nosotros
		position: absolute
		bottom: 5vh
		@include display(flex)
		@include justify-content(center)
		left: 0
		z-index: 1

