section.adopciones
	position: relative
	overflow: hidden
	//- GRAFICOS
	.en-adopciones
		.arbol
			position: absolute
			bottom: 1.2em
			left: 35%
		.perrito
			position: absolute
			bottom: $vereda-2plano
			left: 10em

			background-position: 100% 0
		.voluntario
			position: absolute
			bottom: $vereda-1plano
			right: 10em