section.eventos
	position: relative

	//- GRAFICOS
	.en-eventos
		.arbol
			position: absolute
			bottom: 1em
			right: 10%
		.perrito
			position: absolute
			bottom: $vereda-1plano
			left: 9em

			background-position: 0 100%
		.nene
			position: absolute
			bottom: $vereda-2plano
			left: 25%
		.plato
			position: absolute
			bottom: $vereda-2plano
			left: 4em