section.contacto
	position: relative
	article
		padding-top: 1.5em
	.contacto-txt
	p
		margin: 0em
	form
		margin: 1em auto
		display: block
		.input
			font-family: $text1
			color: $primary-color
			display: inline-block
			&:before
				content: '*'
		.nombre,
		.email
			width: 50%
			float: left
			padding: 0 1em
			display: inline-block
			font-size: 1.15em
			input
				height: 2em
		.mensaje
			width: 100%
			padding: 0 1em
		input,
		textarea
			background-color: $primary-color
			border-radius: 0.7rem
			border: none
			display: block
			width: 100%
		textarea
			width: 100%
		input.hueso
			width: 120px
			float: right



	//-GRAFICOS
	.graficos.en-adopciones
		.parque
			.parque-pasto
				.arbol
			.parque-vereda
				.voluntario
				.perrito
