section.contacto
	position: relative
	article
		padding-top: 1.5em
		overflow-y: scroll
		height: 55vh
		.afiches
			width: 100px
		//ScrollBar
		&::-webkit-scrollbar-track
		  background-color: transparent
		  border-radius: 0.3em

		&::-webkit-scrollbar
		  width: 0.3em
		  background-color: transparent
		&::-webkit-scrollbar-thumb
		  border-radius: 0.3em
		  background-color: $primary-color
		ul 
			padding: 0 0 0 1em
			margin: 0
			li 
				margin: 0
		span
			color: #fff
			position: relative
			display: inline-block
			font-size: 0.9em
			font-style: normal

		img.gatito
			width: 140px
			height: 140px
			display: inline-block
			float: right

	.contacto-txt
		p
			margin: 0em
	form.contactenos
		margin: 1em auto
		display: block
		.input
			font-family: $text1
			color: $primary-color
			&:before
				content: '* '
		[class^="ico-"], 
		[class*=" ico-"]
			display: block
			position: relative
			&:after
				top: 0.25em
				left: 0.3em
				font-size: 1.25em
				width: 32px
				position: absolute

		.nombre,
		.email
			width: 50%
			float: left
			padding: 0 1em
			font-size: 1.15em
			position relative
			input
				height: 2em
		.mensaje
			width: 100%
			padding: 0 1em
		

		input,
		textarea
			background-color: $primary-color
			border-radius: 0.7rem
			border: none
			display: block
			width: 100%
			color: #FFF
			padding-left: 2em
		textarea
			width: 100%
		.ico-send
			float: right
			padding: 0
			margin: 0
			&:before
				position: absolute
				z-index: 10
				top: 1.25em
				left: 1em
				font-size: 1.25em
		.hueso
			width: 120px
			padding-left: 0.5em
			line-height: 2em
		input:before
			color: #fff


	//-GRAFICOS
	.en-contacto
		.perrito
			position: absolute
			bottom: $vereda-1plano
			left: 10em

			background-position: 100% 0
		.casa
			position: absolute
			bottom: $vereda-1plano
			right: 8em

			background-position: 100% 0
		.pelota
			position: absolute
			bottom: $vereda-2plano
			right: 20em

			background-position: 100% 0
