section.patitas
	position: relative
	.logo
		position: relative
		top: 50px
		width: 30vw
		margin: auto

		img 
			width: 100%


	//- GRAFICOS
	.en-patitas
		.arbol
			position: absolute
			top: -8em
			left: 10em
		.banco
			position: absolute
			bottom: 10em
			right: 17em
		.perrito
			position: absolute
			bottom: -1em
			right: 4em
		.candelabro
			position: absolute
			bottom: 9em
			right: 10em
