
header.header-position
  div.logo 
    h1 Patitas
  nav.site-nav
    ul
      li: a(href="#")#inicio.is-active Inicio
      li: a(href="#")#patitas Patitas
      li: a(href="#")#adopciones Adopciones
      li: a(href="#")#consejosUtiles Consejos Útiles
      li: a(href="#")#colaboraConNosotros Colabora con nosotros
      li: a(href="#")#eventos Eventos
      li: a(href="#")#contacto Contacto