
<header class="header-position">
  <div class="logo"> 
    <h1>Patitas</h1>
  </div>
  <nav class="site-nav">
    <ul>
      <li><a href="#" id="inicio" class="is-active">Inicio</a></li>
      <li><a href="#" id="patitas">Patitas</a></li>
      <li><a href="#" id="adopciones">Adopciones</a></li>
      <li><a href="#" id="consejosUtiles">Consejos Utiles</a></li>
      <li><a href="#" id="colaboraConNosotros">Colabora con nosotros</a></li>
      <li><a href="#" id="eventos">Eventos</a></li>
      <li><a href="#" id="contacto">Contacto</a></li>
    </ul>
  </nav>
</header>