section(data-role="section").contacto
	.contenido-wrap
		article
			img.gatito(src="assets/img/Patitas_Gatito.png", alt="gatito")
			h2 Contacto
			.contacto-txt
				p Aquí puedes contactar a Patitas
				p Por teléfono al: 
					span.ico-cel 0982 526 894
				p o mándanos un email: 
					span.ico-email patitasfelicesparaguay@gmail.com
				p o si lo prefieres puedes ponerte en contacto con nosotros mediante el siguiente formulario.

			form.contactenos
				p.input.nombre Nombre
					input.ico-nombre(type="text" name="Nombre") 
				p.input.email Email
					input.ico-email2(type="email" name="Email") 
				p.input.mensaje Mensaje
					textarea
				input.hueso.ico-text(type="submit" value="Enviar")

	//-GRAFICOS
	.graficos.en-contacto
		.parque
			.parque-pasto
			.parque-vereda
				.perrito
				.pelota
				.casa