section(data-role="section").colaboraConNosotros
	.contenido-wrap
		article
			h2 Aportaciones Economicas
			p No tienes tiempo y quieres ayudar a patitas hazte socio lo puedes hacer a través de un giro Tigo al número 0982 526 894
			p O al número de cuenta No 3.406.843 Banco Visión 
			p Existen muchas formas de ayudar a patitas, pero sin la ayuda económica la verdad no podríamos salir adelante.
			p Gracias a las cuotas de los socios, se pueden cubrir con los gastos del refugio.

			strong “ENTRE TODOS PODEMOS AYUDAR A PATITAS”

			h2 Voluntariado
			ul: p Hay muchas formas de ser voluntario de patitas:
				li Puedes venir al refugio y ayudarnos con las tareas del día a día.
				li Participar  en los eventos que realiza patitas como campañas, ferias, etc.
				li También puedes acercar al refugio todo aquello que ya no uses.
				li Medicamentos.

			h2 Donaciones de Material
			p Patitas felices necesita de tu aporte y lo puedes hacer acercándote al refugio con la donación que quieras aportar, patitas te lo agradecerá.

			ul: p Donaciones Ejemplos:
				li Pienso 
				li Latitas de comida 
				li Juguetes
				li Arena para gatos
				li Periódicos 
				li Mantas 
				li Toallas
				li Trapos 
				li Productos de limpieza 
				li Bolsas de basura 
				li Medicamentos 
				li Y otros. 

			h2 Hogar Temporal
			p Gracias al hogar temporal muchas de nuestras patitas han podido superar sus temores o enfermedades antes de ser adoptados.
			p Si usted quiere ofrecer un hogar temporal y dispone de espacio y tiempo no dude en acercarse en la Asociación o ponerse en contacto a través de los siguientes métodos:

			p
				a(href="#").ico-email patitasfelicesparaguay@gmail.com
				a(href="#").ico-phone +595 982 526 894

			h2 Apadrinamiento
			p Puedes ayudar a una patita con una cuota mensual apadrinando o amadrinando a una patita.
			p Gracias por comprometerse con Patitas Felices que al no poder tener más animales, optan por colaborar con nosotros. 

			//- img(url="img/#") Fotos de madrina falta queda pendiente será afiches



	//-GRAFICOS
	.graficos.en-colaboraConNosotros
		.parque
			.parque-pasto
				.arbol
			.parque-vereda
				.voluntario
				.perrito
				.familia