section(data-role="section").consejosUtiles
	.contenido-wrap
		article
			h2 Vacunaciones y desparasitaciones En perros y gatos

			h3 Perros
			h4 Vacunas
			p A los perros se les suele vacunar contra las siguientes enfermedades: rabia,moquillo, parvovirosis, hepatitis infecciosa canina, leptospirosis, parainfluenza, infección por coronavirus y borreliosis. También hay vacunas combinadas de éstas, que dependiendo del número de antígenos que lleven, se llaman tritetra-penta-hexa o heptavalentes, etc.

			h4 Desparasitaciones
			p No es exagerado asegurar la presencia de parásitos en el 85% de los perros, de los que una mínima parte son transmisibles al hombre, pero dado el contacto diario del perro con la familia, y sobre todo con los niños, es fundamental su desparasitación

			h4 Calendario de vacunas
			ul
				p El programa de vacunación varía dependiendo del estado del animal y del criterio del veterinario, pero las pautas generales más utilizadas son las siguientes:
				li 8 semanas: heptavalente (parvovirus, moquillo, hepatitis infecciosa, leptospirosis y parainfluenza).
				li 12 semanas: se repite la heptavalente.
				li 8 semanas: primera de parvovirosis.
				li 10 semanas: primera  trivalente y coronavirus.
				li 12 semanas: segunda de parvovirosis.
				li 14 semanas: segunda trivalente y de coronavirus.
				li 16 semanas: primera de borreliosis.

			h3 Gatos
			h4 Vacunación en gatos
			p La vacunación de los gatos es conveniente realizarla a partir de los dos meses de vida. La primera vacunación consta de dos dosis separadas por dos o tres semanas, y posteriormente es aconsejable la revacunación anual. Las enfermedades más frecuentes en gatos son la leucemia felina, la panleucopenia felina, la rinotraqueítis, la infección por calicivirus, la peritonitis infecciosa, la clamidiosis, la herpesvirosis y la rabia. Las vacunas tardan en hacer efecto 7-10 días, por lo que habrá que evitar el contacto con otros gatos.

			h4 Desparasitaciones
			p Lo primero que hay que hacer es un tratamiento preventivo contra los parásitos internos, que afectan al aparato digestivo. Debe iniciarse a las 2-6 semanas de vida, repetirlo cada 2 semanas hasta los 3 meses y continuar cada 3-6 meses, dependiendo del contagio entre gatos y de éstos al hombre.
			p Es aconsejable realizar un tratamiento contra los cestodos, que se efectuará cada 45 días en los casos de mayor riesgo y cada 3 meses en los demás casos. Generalmente es conveniente realizar una desparasitación 15 días antes de la vacunación. También es recomendable realizar un tratamiento previo al parto con productos seguros, 1- 2 semanas antes; y lo mismo rige antes de la monta, tanto en el macho como en la hembra. Los fármacos más utilizados en gatos contra nematodos son: mebendazol, flubendazol, oxibendazol, fenbendazol y pirantel. Los más empleados en gatos contra los cestodos son: praziquantel, niclosamida, mebendazol, fenbendazol y flubendazol.

			h4 El calendario de vacunación
			li 8 semanas: leucemia felina y trivalente felina.
			li 10 semanas: leucemia felina y trivalente felina.
			li 14 o 16 semanas: peritonitis infecciosa y Chlamydia psittaci.
			li 17 o 19 semanas: peritonitis infecciosa y Chlamydia psittaci.
			li 21 semanas: rabia.
			p El calendario de vacunación puede cambiar según el criterio del veterinario y las circunstancias epidemiológicas.

			h2 Castracion y esterilizacion En perros y gatos
			h3 Cuidado de su Perro o Gato Después de la Operación
			p ¡Gracias por castrar/esterilizar a su perro/gato! De esta forma, ayuda a reducir el posible número de animales callejeros en la Ciudad de Nueva York. Aunque la castración y la esterilización son procedimientos comunes, recuerde que su mascota acaba de ser sometida a una operación y necesita cuidados apropiados para recuperarse, incluido un lugar bajo techo limpio, cálido y seco.

			h4 Anestesia y cirugía
			ul: p Observe si su mascota presenta algún signo de recuperación anormal de la anestesia o la cirugía. Estos son algunos de los signos de recuperación anormal:
				li Sangrado
				li Letargo, depresión o debilidad
				li Pérdida del apetito/menor consumo de agua que lo normal
				li Escalofríos
				li Aumento o descenso de la temperatura corporal (frío o caliente al tacto)
				li Andar inestable
				li Encías pálidas
				li Dificultad para respirar
				li Vómitos
				li Diarrea
				p Si nota algunos de estos signos, llame a su veterinario de cabecera.

			h4 Vacunas
			ul: p Si el gato recibió vacunas, observe el lugar en que se colocó la vacuna (hombros/patas posteriores) para detectar estos otros signos:
				li Inflamación en la cara
				li Urticaria
				li Cojera
				li Babeo
				li Picazón
				li Dolor o hinchazón en el lugar en que se colocó la vacuna (hombros/patas posteriores)
				p Si nota algunos de estos signos, llame a su veterinario de cabecera.

			h4 Agua y Alimentos
			p Ofrezca a su mascota aproximadamente la mitad de la ración de alimento normal alrededor de dos horas después de regresar al hogar después de la operación.
			p Si su mascota tiene menos de 16 semanas de edad, aliméntela con aproximadamente la mitad de la cantidad normal de alimentos y agua tan pronto como regrese a su hogar. Tenga en cuenta que muchos animales no comerán la noche que regresen al hogar después de la operación. Si el animal no come la noche posterior a la cirugía, ofrézcale alimento y agua como lo
			p haría normalmente el día posterior a la cirugía.
			p Si su mascota vomita después de comer la noche de la operación, retire la comida y deje sólo una pequeña cantidad de agua disponible para el animal. Ofrézcale una pequeña cantidad de alimento la mañana siguiente. Si continúa vomitando o tiene diarrea, llame a su veterinario de cabecera.

			h4 Medicamentos para el Dolor 
			p Su mascota recibió un medicamento para el dolor de larga duración junto con la cirugía de esterilización/castración. NO LE SUMINISTRE MEDICAMENTOS PARA HUMANOS. Es peligroso y puede ser fatal. Si le dieron medicamentos para que le dé al animal en su casa, suminístreselos según se lo indicaron.

			h4 Lamidas en el Sitio de la Operación 
			p Evite que su mascota se lama el lugar de la operación ya que esto puede provocar una infección dolorosa. El collar isabelino de su mascota debería evitar que se lama. Utilice este collar entre 7 y 10 días después de la operación. Si su mascota puede lamerse el lugar de la operación incluso con el collar isabelino, llame a la línea de cuidados posoperatorios.

			h2 Leishmaniosis
			p La leishmaniosis o leishmaniasis es una enfermedad causada por un parásito llamado Leishmania el cual se transmite por medio de la picadura de un mosquito del género Phlebotomus. La leishmaniosis en perros puede ser muy grave y hasta mortal si no se detecta y trata a tiempo. Es una enfermedad incurable y crónica y el perro no la transmite a los humanos ni a otros animales.
			p La leishmaniosis es una enfermedad endémica y estacional así que dependiendo de la zona climática y geográfica donde se encuentre el perro, habrá más o menos probabilidad de que la contraiga. Por tal motivo decimos que la posibilidad de contagio aumentará si nuestro perro habita a la intemperie, en una zona húmeda y en épocas calurosas. Esta enfermedad afecta a los vertebrados, así que en ocasiones otros animales a diferencia de los canes también son infectados y tiene muy poca incidencia en humanos pero en estos no suele ser tan virulenta como en los perros ya que el sistema inmunológico es capaz de combatir la infección pero sí puede ser delicada en personas con el sistema inmunológico débil, como son los enfermos de cáncer y SIDA.
			p Los causantes de este padecimiento son los mosquitos hembras del vector al necesitar sangre para la maduración de sus huevos, esta pica al perro que está infectado succiona la sangre y en su interior después de pasar el parásito por diferentes transformaciones deja al mosquito lleno de parásitos listo para picar a su próxima víctima infectándola. Esta enfermedad puede ser un martirio para el perro que la padezca y su dueño, ya requiere un tratamiento paliativo (tratar los síntomas) y no curativo debido a que una vez que se contrae se deben hacer controles constantes para prevenir posibles rebrotes después de recibir el tratamiento, o sea que se debe controlar de por vida los síntomas. La leishmaniosis no tiene cura y aunque la trates no quiere decir que el perro no tenga recaídas así que el tratamiento se debe continuar durante toda la vida del animal y lamentablemente es muy costoso.
			h3 Síntomas de la Leishmaniosis en perros
			p La leishmaniosis puede causar la muerte en la mayoría de los perros infectados que no reciban tratamiento y vigilancia posteriormente. Esta enfermedad puede ser de dos tipos: cutánea (afecta la piel) y visceral (se ven afectadas las vísceras especialmente hígado y riñones). Este padecimiento no distingue de razas y edades así que cualquier perro puede resultar afectado.
			ul
				p Si observas alguno de los siguientes signos clínicos es mejor que acudas lo más pronto con tu perro a que le brinden atención veterinaria y realicen un diagnóstico oportuno:
				li Úlceras en el borde de las orejas, la cabeza o extremidades.
				li Inflamación de los ojos.
				li Crecimiento de las uñas de forma anormal.
				li Pérdida de pelo por la zona de la cabeza (caspa).
				li Heridas que no sanan.
				li Sangre en la orina.
				li Diarrea.
				li Conjuntivitis.
				li Dermatitis.
				li Atrofia muscular, sobre todo por la cara (aspecto envejecido y expresión triste),
				li Fatiga o cansancio.
				li Inflamación de las articulaciones o cojera.
				li Aumento del tamaño de los ganglios linfáticos (en cuello y cara interna de las patas).
				li Debilidad.
				li Pérdida de peso.
				li Fiebre.
				li Hemorragia nasal.
				li Inflamación del abdomen (posible hepatomegalia)

			p Lleva a tu perro al veterinario en caso de presentar los síntomas anteriormente mencionados y este realizará un test sencillo y rápido para demostrar la presencia de la infección, si el resultado es positivo también le realizarán otras pruebas de rigor para un diagnóstico definitivo de la enfermedad.
			p Si el nivel en que se ha visto afectado tu perro por este padecimiento no es muy elevado, puede llevar una vida normal, pero obviamente con controles periódicos para detectar nuevos brotes.
			p Recuerda que no todos los animales presentarán los mismos síntomas y algunos puede que no los muestren y permanezcan sanos hasta por años, son más susceptibles los perros con sistema inmunológico debilitado y perros viejos. Los perros con buena inmunidad aunque estén igualmente infectados, podrían llegar a convivir toda su vida con el parásito sin que éste les produzca complicaciones.

			h3 Prevención de la Leishmaniosis en perros
			p Esta enfermedad se puede prevenir con una vacuna, la cual se puede aplicar a los cachorros sanos a partir de los seis meses de edad. Esta vacuna desarrolla inmunidad celular, enseñando al sistema inmune a defenderse correctamente del parásito o sea que las células destruyen la enfermedad, así que la vacuna protegerá a nuestro perro cuando sea picado por un mosquito infectado.
			p Se necesitan tres dosis el primer año de vacunación y se debe revacunar anualmente.
			p En algunos países la vacuna puede resultar muy costosa pero el tratamiento puede ser aun más, así que si queremos a nuestro perro y queremos evitarle un sufrimiento de tal magnitud dicha prevención es justificada.
			p Hay que tener en cuenta que los perros con anticuerpos no se pueden vacunar porque en este caso la vacuna no los curará, en pocas palabras si el animal está padeciendo la enfermedad la vacuna no le servirá. También es importante recalcar que los animales solo pueden ser vacunados si gozan de buen estado de salud y que las hembras en embarazo tampoco pueden vacunarse.
			p La prevención de la leishmaniosis en perros no solo se puede llevar a cabo a través de la vacunación si no también con controles anuales de exámenes de sangre en regiones de alto riesgo para esta enfermedad especialmente en zonas húmedas y en meses calurosos.
			h3 También existen otras medidas de prevención y protección como son:
			ul 
				li Colocarles a los perros collares antiparasitarios repelentes de mosquitos.
				li Usar productos antiparasitarios externos regularmente que también actúa de repelentes.
				li Fumigar en zonas con mayor actividad de mosquitos.
				li Usar velas o espirales en las terrazas que espante a los mosquitos.
				li Dentro de las casas es mejor usar enchufes que protejan a toda la familia como insecticidas eléctricos.
				li Evitar visitar en verano zonas húmedas y pantanosas.
				li Usar mosquiteras en las ventanas de las casas de campo y playa.
				li No pasear con tu mascota cerca de los ríos o zonas húmedas al atardecer ya que aumenta la actividad de los mosquitos a esas horas cuando cae la noche.
				li La actividad de los mosquitos aumenta durante la noche, así que es mejor que el animal duerma en casa.

			h3 Tratamiento la Leishmaniosis en perros
			p Aunque el tratamiento es muy costoso y no proteje al perro de posibles recaídas, sí aumenta la probabilidad de que tu perro sobreviva disminuyendo los síntomas notablemente, algunos viven muchos años y gozan de una buena calidad de vida. Las secuelas que sufre el perro después de la enfermedad dependen del estado en que hayan sido afectados sus órganos así que si no se detecta a tiempo y no se aplica pronto el tratamiento necesario, puede resultar mortal sobre todo en casos de leishmaniosis visceral.
			p No olvides siempre ir con tu veterinario de confianza y solicitar información sobre la incidencia de esta enfermedad en tu localidad, acude a él para más información sobre el tratamiento si tu perro padece de este mal. Y recuerda compartir está información con el fin de concienciar a las personas sobre la importancia de la prevención de esta enfermedad y así evitarle malos ratos a nuestros hermanos de cuatro patas.


	//-GRAFICOS
	.graficos.en-consejosUtiles
		.parque
			.parque-pasto
				.arbol
			.parque-vereda
				.banco
				.candelabro
				.voluntario