section(data-role="section").consejosUtiles
	.contenido-wrap
		article
			.tabs
				.tab-contenedor
					a(href="#").is-active.tab-link.hueso Desapariciones
					div.tab-contenido
						h2 Desparasitaciones en perros y gatos	
						p No es exagerado asegurar la presencia de parásitos en perros y gatos, de los que una mínima parte son transmisibles al hombre, pero dado el contacto diario con la familia, y sobre todo con los niños, es fundamental su desparasitación.
						
						p: a.ico-descargar Descargar calendario de vacunación

						h2 Castración y Esterilización
						p ¡Gracias por castrar/esterilizar a su perro/gato! De esta forma, ayuda a reducir el posible número de animales callejeros en la Ciudad.  Aunque la castración y la esterilización son procedimientos comunes, recuerde que su mascota acaba de ser sometida a una operación y necesita cuidados apropiados para recuperarse, incluido un lugar bajo techo limpio, cálido y seco.
				.tab-contenedor
					a(href="#").tab-link.hueso Lesmaniasis
					div.tab-contenido
						h2 La Leishmaniasis
						p La leishmaniosis puede causar la muerte en la mayoría de los perros infectados que no reciban tratamiento y vigilancia posteriormente. Puede ser de dos tipos: cutánea (afecta la piel) y visceral (se ven afectadas las vísceras especialmente hígado y riñones). Si observas alguno de los siguientes signos clínicos es mejor que acudas lo más pronto posible con tu perro a que le brinden atención veterinaria y realicen un diagnóstico oportuno:
						ul
							li Úlceras en el borde de las orejas, la cabeza o extremidades.

							li Inflamación de los ojos.

							li Crecimiento de las uñas de forma anormal.

							li Pérdida de pelo por la zona de la cabeza (caspa).

							li Heridas que no sanan.

							li Sangre en la orina.


				.tab-contenedor
					a(href="#").tab-link.hueso Toxoplasmosis
					div.tab-contenido
						h2 La Toxoplasmosis y El Gato
						p El gato representa el hospedador definitivo para este parásito y la gran mayoría de los gatos portadores no muestran nunca signos clínicos de enfermedad en el momento de la infección. Existen numerosas evidencias científicas que demuestran que el contagio de T.gondii a los seres humanos por contacto con las heces de un gato infectado es poco probable. Por tanto es erróneo asumir que siempre que una persona se infecta con T. gondii, el origen de la infección ha sido el contacto con un gato.

						p Las evidencias científicas disponibles en la actualidad demuestran que el contagio de toxoplasmosis de gatos a personas, incluidas mujeres gestantes y enfermos de SIDA, es altamente improbable siguiendo unas normas básicas de higiene. Por lo tanto consideramos completamente injustificado el abandono o rechazo de los gatos en caso de un embarazo en la familia, aunque éste sea el consejo de algunos médicos.

						p Los gatos aportan numerosos beneficios psicológicos y bienestar emocional a las personas que disfrutan de su compañía, especialmente cuando forman parte de la familia como uno más de sus miembros.

						p: a.ico-descargar Descargar calendario de vacunación




	//-GRAFICOS
	.graficos.en-consejosUtiles
		.parque
			.parque-pasto
				.arbol
			.parque-vereda
				.banco
				.candelabro
				.voluntario