
<section data-role="section" class="patitas">
  <article class="nosotros">
    <div class="modal historia">
      <label for="historia"><strong class="modal-trigger">Historia </strong></label>
      <input id="historia" type="checkbox" class="modal-state"/>
      <div class="modal-fade-screen">
        <div class="modal-inner">
          <div for="historia" class="modal-close"></div>
          <h2>Historia</h2>
          <p>La Asociación Patitas Felices en Paraguay es una organización sin fines de lucro, creada a partir de una comisión vecinal del Barrio Santo Domingo de la ciudad de Lambaré fundada el 5 de Julio del año 2010 por la Sra. Griselda Beatriz Parodi y se declara de interés municipal el 30 de Noviembre del mismo año bajo la  resolución municipal Nº 6016/2010, la formación y funcionamiento de la comisión protectora de animales, actualmente cuenta con un refugio temporal para los animales y los hogares de los voluntarios. </p>
          <p>La componen un equipo de personas que trabajan por el bienestar, el respeto y los derechos de los  animales y al mismo tiempo a la responsabilidad, el cuidado y la educación de la sociedad en relación a las mascotas. </p>
        </div>
      </div>
    </div>
    <div class="modal mision">
      <label for="mision"><strong class="modal-trigger">Mision </strong></label>
      <input id="mision" type="checkbox" class="modal-state"/>
      <div class="modal-fade-screen">
        <div class="modal-inner">
          <div for="mision" class="modal-close"></div>
          <h2>Mision</h2>
          <p>Contribuir a mejorar la calidad de vida de las mascotas promoviendo y formando parte de la creación de leyes que protejan sus derechos, como también concientizar a la sociedad paraguaya sobre las mismas fomentando la adopción responsable en Paraguay de manera que cree un valor para la sociedad. </p>
        </div>
      </div>
    </div>
    <div class="modal vision">
      <label for="vision"><strong class="modal-trigger">Vision </strong></label>
      <input id="vision" type="checkbox" class="modal-state"/>
      <div class="modal-fade-screen">
        <div class="modal-inner">
          <div for="vision" class="modal-close"></div>
          <h2>Vision</h2>
          <p>Ser una de las principales organizaciones sin fines de lucro autosuficiente, respetada, eficiente y con la mayor capacidad de atención en todas las áreas que impliquen el bienestar de las mascotas dentro de una sociedad consiente y responsable. </p>
        </div>
      </div>
    </div>
    <div class="modal valores">
      <label for="valores"><strong class="modal-trigger">Valores </strong></label>
      <input id="valores" type="checkbox" class="modal-state"/>
      <div class="modal-fade-screen">
        <div class="modal-inner">
          <div for="valores" class="modal-close"></div>
          <h2>Valores</h2>
          <ul>
            <li>Espíritu vocacional</li>
            <li>Solidaridad</li>
            <li>Trabajo en equipo</li>
            <li>Respeto </li>
            <li>Confianza </li>
          </ul>
        </div>
      </div>
    </div>
  </article>
  <div class="graficos en-patitas">
    <div class="parque">
      <div class="parque-pasto">
        <div class="arbol"></div>
      </div>
      <div class="parque-vereda">
        <div class="banco">
          <div class="perrito"></div>
        </div>
        <div class="candelabro"></div>
      </div>
    </div>
  </div>
</section>