section(data-role="section").colaboraConNosotros
	.contenido-wrap
		article
			.tabs
				.tab-contenedor
					a(href="#").is-active.tab-link.hueso Aportaciones
					div.tab-contenido
						h2 Aportaciones Económicas
						p No tenes tiempo y quieres ayudar a patitas hacete socio lo puedes hacer a través de un giro Tigo al
						figure.icono.png4
						p: span.ico-cel 0982 526 894
						p: span.ico-banco al número de cuenta No 3.406.843 Banco Visión 
						p Existen muchas formas de ayudar a patitas, pero sin la ayuda económica la verdad no podríamos salir adelante. Gracias a las cuotas de los socios, se pueden cubrir con los gastos del refugio.
						h3 
				.tab-contenedor
					a(href="#").tab-link.hueso Voluntariado
					div.tab-contenido
						h2: strong Hay muchas formas de ser voluntario de Patitas
						figure.icono.png5
						ul
							li Puedes venir al refugio y ayudarnos con las tareas del día a día.mensual apadrinando o amadrinando a una patita.
							li Participar  en los eventos que realiza patitas como campañas, ferias, etc.
							li También puedes acercar al refugio todo aquello que ya no uses.
							li medicamentos


				.tab-contenedor
					a(href="#").tab-link.hueso Donaciones
					div.tab-contenido 
						h2 Donaciones de Material
						figure.icono.png6
						p Patitas felices necesita de tu aporte y lo puedes hacer acercándote al refugio con la donación que quieras aportar, patitas te lo agradecerá.

						ul.donaciones-lista: p Donaciones Ejemplos:
							li Pienso 
							li Latitas de comida 
							li Juguetes
							li Arena para gatos
							li Periódicos 
							li Mantas 
							li Toallas
							li Trapos 
							li Productos de limpieza 
							li Bolsas de basura 
							li Medicamentos 
							li Y otros. 

				.tab-contenedor
					a(href="#").tab-link.hueso Hogar Temporal
					div.tab-contenido
						h2 Hogar Temporal
						p Gracias al hogar temporal muchas de nuestras patitas han podido superar sus temores o enfermedades antes de ser adoptados.
						p Si usted quiere ofrecer un hogar temporal y dispone de espacio y tiempo no dude en acercarse en la Asociación o ponerse en contacto a través de los siguientes métodos:

						figure.icono.png7
						p: a(href="#").ico-email patitasfelicesparaguay@gmail.com
						p: a(href="#").ico-cel (0982) 526 894
						p: a(href="#").ico-phone (021) 366 415

				.tab-contenedor
					a(href="#").tab-link.hueso Apadrinamiento
					div.tab-contenido
						h2 Apadrinamiento
						p Puedes ayudar a una patita con una cuota mensual apadrinando a una patita.
						p Gracias por comprometerse con Patitas Felices que al no poder tener más animales, optan por colaborar con nosotros.
						figure.modal.left
								label(for="modal-1")
									.modal-trigger: img.afiche(src="assets/img/afiches/Afiche-01.png", alt="")
								input.modal-state(id="modal-1" type="checkbox")
								.modal-fade-screen 
									.modal-inner 
										.modal-close(for="modal-1")
										img(src="assets/img/afiches/Afiche-01.png", alt="")
						figure.modal.left
								label(for="modal-2")
									.modal-trigger: img.afiche(src="assets/img/afiches/Afiche-02.png", alt="")
								input.modal-state(id="modal-2" type="checkbox")
								.modal-fade-screen 
									.modal-inner 
										.modal-close(for="modal-2")
										img(src="assets/img/afiches/Afiche-02.png", alt="")
						figure.modal.left
								label(for="modal-10")
									.modal-trigger: img.afiche(src="assets/img/afiches/Afiche-10.png", alt="")
								input.modal-state(id="modal-10" type="checkbox")
								.modal-fade-screen 
									.modal-inner 
										.modal-close(for="modal-10")
										img(src="assets/img/afiches/Afiche-10.png", alt="")
						
						//- img(url="img/#") Fotos de madrina falta queda pendiente será afiches

	//-GRAFICOS
	.graficos.en-colaboraConNosotros
		.parque
			.parque-pasto
				.arbol
			.parque-vereda
				.voluntario
				.perrito
				.familia