
<section data-role="section" class="adopciones">
  <div class="contenido-wrap">
    <article>
      <h2>Adoptar es comprometerse</h2>
      <p>Adoptar un animal es una decisión muy importante, significa comprometerse durante toda su vida.</p>
      <p>Una adopción responsable no solo es brindar cariño y alimento, también es vacunar, desparasitar, esterilizar, castrar como método de control sobre las enfermedades, reproducción no deseado y dedicar tiempo.</p>
      <p><a href="#">Estos son algunos de nuestras patitas rescatadas y puestos en adopción
          <VA>A - afiches de perros y gatos en adopcion</VA></a></p>
      <h2>Antes de adoptar</h2>
      <p>Es importante que tengas en cuenta antes de adoptar una patita:</p>
      <ul>
        <li>El espacio disponible de tu casa </li>
        <li>El tiempo que tengas para brindarle compañía </li>
        <li>Actividad física y cuidado de tu patita </li>
        <li>Los costos asociados a su alimentación </li>
        <li>Atención veterinaria </li>
        <li>Estadía durante tus vacaciones ( si no podes llevarlo con vos)</li>
      </ul>
      <p><span>“NO COMPRES DALE LA OPORTUNIDAD DE TENER UN HOGAR”</span></p>
      <h2>Requisitos de adopcion</h2>
      <ul>
        <li>Ser mayor de edad </li>
        <li>Presentar cedula de identidad y fotocopia </li>
        <li>Tener una vivienda segura y con patio </li>
        <li>Contar con una solvencia económica </li>
        <li>Tener un veterinario de cabecera </li>
        <li>Firmar el contrato de adopción </li>
      </ul><a href="#" class="ico-descargar">Contrato de adopcion</a>
    </article>
  </div>
  <div class="graficos en-adopciones">
    <div class="parque">
      <div class="parque-pasto">
        <div class="arbol"></div>
      </div>
      <div class="parque-vereda">
        <div class="voluntario"></div>
        <div class="perrito"></div>
      </div>
    </div>
  </div>
</section>