section(data-role="section").patitas
	
	
	figure.logo
		img(src="assets/img/patitas-logo.png", alt="Patitas")

	article.nosotros
		.modal.historia
			label(for="historia")
				strong.modal-trigger Historia 
			input.modal-state(id="historia" type="checkbox") 
			.modal-fade-screen
				.modal-inner
					.modal-close(for="historia")
					h2 Historia
					p La Asociación Patitas Felices en Paraguay es una organización sin fines de lucro, creada a partir de una comisión vecinal del Barrio Santo Domingo de la ciudad de Lambaré fundada el 5 de Julio del año 2010 por la Sra. Griselda Beatriz Parodi y se declara de interés municipal el 30 de Noviembre del mismo año bajo la  resolución municipal Nº 6016/2010, la formación y funcionamiento de la comisión protectora de animales, actualmente cuenta con un refugio temporal para los animales y los hogares de los voluntarios. 
					p La componen un equipo de personas que trabajan por el bienestar, el respeto y los derechos de los  animales y al mismo tiempo a la responsabilidad, el cuidado y la educación de la sociedad en relación a las mascotas. 
		.modal.mision
			label(for="mision")
				strong.modal-trigger Mision 
			input.modal-state(id="mision" type="checkbox") 
			.modal-fade-screen
				.modal-inner
					.modal-close(for="mision")
					h2 Mision
					p Contribuir a mejorar la calidad de vida de las mascotas promoviendo y formando parte de la creación de leyes que protejan sus derechos, como también concientizar a la sociedad paraguaya sobre las mismas fomentando la adopción responsable en Paraguay de manera que cree un valor para la sociedad. 
		.modal.vision
			label(for="vision")
				strong.modal-trigger Vision 
			input.modal-state(id="vision" type="checkbox") 
			.modal-fade-screen
				.modal-inner
					.modal-close(for="vision")
					h2 Vision
					p Ser una de las principales organizaciones sin fines de lucro autosuficiente, respetada, eficiente y con la mayor capacidad de atención en todas las áreas que impliquen el bienestar de las mascotas dentro de una sociedad consiente y responsable. 
		.modal.valores
			label(for="valores")
				strong.modal-trigger Valores 
			input.modal-state(id="valores" type="checkbox") 
			.modal-fade-screen
				.modal-inner
					.modal-close(for="valores")
					h2 Valores
					ul
						li Espíritu vocacional
						li Solidaridad
						li Trabajo en equipo
						li Respeto 
						li Confianza 


	//- GRAFICOS
	.graficos.en-patitas
		.parque
			.parque-pasto
				.arbol
			.parque-vereda
				.banco
					.perrito
				.candelabro




