section(data-role="section").eventos
	.contenido-wrap
		article
			h2 Eventos
			p Gracias a la realización de eventos Patitas Felices tiene la oportunidad de recaudar fondos. 
			p Algunos de nuestros eventos realizados
			ul
				li: a(href="Facebook-Ferias")  Patitas Ferias
				li: a(href="Facebook-BlackFriday") Patitas Black Friday
				li: a(href="Facebook-ExpoCachogos") Patitas Expo Cachogos
			p Ayúdanos a mejorar la calidad de vida de nuestras patitas. Si tienes alguna sugerencia en la realización de eventos o dudas para saber en qué podes ayudar.
			p: a(href="Contacto")

	//-GRAFICOS
	.graficos.en-eventos
		.parque
			.parque-pasto
				.arbol
			.parque-vereda
				.perrito
				.plato
				.nene