section(data-role="section").inicio
	
	figure.logo
		.logo-patitas: img(src="assets/img/Patitas_LogoPatitas.png", alt="Patitas logo")
		.logo-descripcion: img(src="assets/img/Patitas_LogoDescripcion.png", alt="Asociacion de patitas felices")


	//- GRAFICOS
	//- .graficos.en-patitas
	//- 	.parque
	//- 		.parque-pasto
	//- 			.arbol
	//- 		.parque-vereda
	//- 			.banco
	//- 				.perrito
	//- 			.candelabro




