
<section data-role="section" class="colaboraConNosotros">
  <div class="contenido-wrap">
    <article>
      <h2>Aportaciones Economicas</h2>
      <p>No tienes tiempo y quieres ayudar a patitas hazte socio lo puedes hacer a través de un giro Tigo al número 0982 526 894</p>
      <p>O al número de cuenta No 3.406.843 Banco Visión </p>
      <p>Existen muchas formas de ayudar a patitas, pero sin la ayuda económica la verdad no podríamos salir adelante.</p>
      <p>Gracias a las cuotas de los socios, se pueden cubrir con los gastos del refugio.</p><strong>“ENTRE TODOS PODEMOS AYUDAR A PATITAS”</strong>
      <h2>Voluntariado</h2>
      <ul>
        <p>Hay muchas formas de ser voluntario de patitas:
          <li>Puedes venir al refugio y ayudarnos con las tareas del día a día.</li>
          <li>Participar  en los eventos que realiza patitas como campañas, ferias, etc.</li>
          <li>También puedes acercar al refugio todo aquello que ya no uses.</li>
          <li>Medicamentos.</li>
        </p>
      </ul>
      <h2>Donaciones de Material</h2>
      <p>Patitas felices necesita de tu aporte y lo puedes hacer acercándote al refugio con la donación que quieras aportar, patitas te lo agradecerá.</p>
      <ul>
        <p>Donaciones Ejemplos:
          <li>Pienso </li>
          <li>Latitas de comida </li>
          <li>Juguetes</li>
          <li>Arena para gatos</li>
          <li>Periódicos </li>
          <li>Mantas </li>
          <li>Toallas</li>
          <li>Trapos </li>
          <li>Productos de limpieza </li>
          <li>Bolsas de basura </li>
          <li>Medicamentos </li>
          <li>Y otros. </li>
        </p>
      </ul>
      <h2>Hogar Temporal</h2>
      <p>Gracias al hogar temporal muchas de nuestras patitas han podido superar sus temores o enfermedades antes de ser adoptados.</p>
      <p>Si usted quiere ofrecer un hogar temporal y dispone de espacio y tiempo no dude en acercarse en la Asociación o ponerse en contacto a través de los siguientes métodos:</p>
      <p><a href="#" class="ico-email">patitasfelicesparaguay@gmail.com</a><a href="#" class="ico-phone">+595 982 526 894</a></p>
      <h2>Apadrinamiento</h2>
      <p>Puedes ayudar a una patita con una cuota mensual apadrinando o amadrinando a una patita.</p>
      <p>Gracias por comprometerse con Patitas Felices que al no poder tener más animales, optan por colaborar con nosotros. </p>
      
      
    </article>
  </div>
  <div class="graficos en-colaboraConNosotros">
    <div class="parque">
      <div class="parque-pasto">
        <div class="arbol"></div>
      </div>
      <div class="parque-vereda">
        <div class="voluntario"></div>
        <div class="perrito"></div>
        <div class="familia"></div>
      </div>
    </div>
  </div>
</section>