
<section data-role="section" class="eventos">
  <div class="contenido-wrap">
    <article>
      <h2>Eventos</h2>
      <p>Gracias a la realización de eventos Patitas Felices tiene la oportunidad de recaudar fondos. </p>
      <p>Algunos de nuestros eventos realizados</p>
      <ul>
        <li><a href="Facebook-Ferias"> Patitas Ferias</a></li>
        <li><a href="Facebook-BlackFriday">Patitas Black Friday</a></li>
        <li><a href="Facebook-ExpoCachogos">Patitas Expo Cachogos</a></li>
      </ul>
      <p>Ayúdanos a mejorar la calidad de vida de nuestras patitas. Si tienes alguna sugerencia en la realización de eventos o dudas para saber en qué podes ayudar.</p>
      <p><a href="Contacto"></a></p>
    </article>
  </div>
  <div class="graficos en-eventos">
    <div class="parque">
      <div class="parque-pasto">
        <div class="arbol"></div>
      </div>
      <div class="parque-vereda">
        <div class="perrito"></div>
        <div class="plato"></div>
        <div class="nene"></div>
      </div>
    </div>
  </div>
</section>