section(data-role="section").adopciones
	//- CONTENIDO				
	.contenido-wrap
		h2 Adoptar es comprometerse
		p Adoptar un animal es una decisión muy importante, significa comprometerse durante toda su vida.
		p Una adopción responsable no solo es brindar cariño y alimento, también es vacunar, desparasitar, esterilizar, castrar como método de control sobre las enfermedades, reproducción no deseado y dedicar tiempo.

		p: a(href="#") Estos son algunos de nuestras patitas rescatadas y puestos en adopción
			VA A - afiches de perros y gatos en adopcion

		h2 Antes de adoptar
		ul: p Es importante que tengas en cuenta antes de adoptar una patita:
			li El espacio disponible de tu casa 
			li El tiempo que tengas para brindarle compañía 
			li Actividad física y cuidado de tu patita 
			li Los costos asociados a su alimentación 
			li Atención veterinaria 
			li Estadía durante tus vacaciones ( si no podes llevarlo con vos)

		strong “NO COMPRES DALE LA OPORTUNIDAD DE TENER UN HOGAR”

		h2 Requisitos de adopcion
		ul
			li Ser mayor de edad 
			li Presentar cedula de identidad y fotocopia 
			li Tener una vivienda segura y con patio 
			li Contar con una solvencia económica 
			li Tener un veterinario de cabecera 
			li Firmar el contrato de adopción 

		a(href="#").ico-descargar Contrato de adopcion


	//-GRAFICOS
	.graficos.en-adopciones
		.parque
			.parque-pasto
				.arbol
			.parque-vereda
				.voluntario
				.perrito