section(data-role="section").inicio
	
	figure.logo
		img(src="assets/img/patitas-logo.png", alt="Patitas")


	//- GRAFICOS
	//- .graficos.en-patitas
	//- 	.parque
	//- 		.parque-pasto
	//- 			.arbol
	//- 		.parque-vereda
	//- 			.banco
	//- 				.perrito
	//- 			.candelabro




