section(data-role="section").inicio
	
	figure.logo
		.logo-patitas: img(src="assets/img/Patitas_logoPatitas.png", alt="Patitas")
		.logo-descripcion: img(src="assets/img/Patitas_logoDescripcion.png", alt="Patitas")


	//- GRAFICOS
	//- .graficos.en-patitas
	//- 	.parque
	//- 		.parque-pasto
	//- 			.arbol
	//- 		.parque-vereda
	//- 			.banco
	//- 				.perrito
	//- 			.candelabro




